*{
 margin: 0;
 padding:0;
 box-sizing: border-box;
 font-family: 'Poppins',san-serif;

}
.main-container{
 width:100%;
 min-height:100vh;
 z-index: -1;
 padding: 10px 10%;
 overflow: hidden;
 position: relative;
 display: flex;
 flex-direction: row;
  justify-content: space-between;
}
#bg{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}
.form-layout{
    border-radius: 15px;
    width: 500px;
}

#bg::after {

  position: absolute;
  inset: 0;
  opacity: .6;
  background-color: black;
  background-blend-mode: multiply;
}

.container{

}

.title-text{
margin-top: 10%;
max-width: 600px;
}

.title-text h1{
font-size: 70px;
color: white;

}

.title-text p{
margin : 10 px 0 30px;
color: white;
}

.side-img{
bottom: 0;
right; 10%;
}

.message-text{
    color: white;
}



#message-timer{
display: inline-block;
}
